


.navbar-custom {
    height: 100px;
    padding-left: 4rem;
    padding-right: 4rem;
}
.navbar-brand, .nav-link, .dropdown-toggle {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
}

.nav-item{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}






.dropdown-custom {
    width: 100%; 
    /* top:140%; */
}
.dropdown-menu[data-bs-popper] {
    top: 160%;
    left: 0;
    margin-top: var(--bs-dropdown-spacer);
    background-color: transparent;
    border: none;
    justify-content: space-between;
}
.dropdown-item
{
    border: 1px solid #A6C1B9;
    margin-top: 5px;;
    background: #FFFFFF;
    text-align: center;
    color: #50DBB2;
    font-family: Lato;
font-size: 14px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0.005em;
text-align: center;




    
}

































@media (min-width: 992px) {
    .navbar-nav {
        flex: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
@media (max-width: 991.98px) {
    .navbar-nav {
        display: block;
        text-align: center;
    }
    .navbar-collapse {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-item {
        margin-bottom: 1rem;
    }
    .navbar-custom {
        height: auto;
    }
}
